// variable

// Color
$text-color-dark : #332957;
$text-color-white : #c4b2f8;
$text-dark : #000;
$text-white : #fff;
$bg-white : #fff;
$border-color-white : #c4b2f84c;
$border-color-white-2 : #c4b2f8;
$border-white : #fff;
// Color

// Font Size
$font-xs : 12px;
$font-sm : 14px;
$font-md : 16px;
$font-lg : 18px;
$font-xl : 20px;
// Font Size

// Margin Padding
$margin-padding-xs: 5px;
$margin-padding-sm: 10px;
$margin-padding-md: 15px;
$margin-padding-lg: 20px;
$margin-padding-xl: 25px;
// Margin Padding

// variable

// Media Screen

@media screen and (max-width : 992px) {

  #vr-design{
    .vr-item{
      flex: 0 0 auto;
      width: 100% !important;
      .subject{
        transform: unset !important;
      }
    }
  }

  .background1,.background2{
    display: none !important;
  }

  #header{
    .build-your-world{
      margin-top: 35px;
    }
  }

  #contact{
    margin-top: 25px !important;
    .contact-inner{
      
      > div {
        padding: 10px 35px !important;
        border-right: unset !important;
      }
    }
  }

}
@media screen and (min-width : 992px) {

  #vr-design{
    .vr-item{
      width: 370px !important;
    }
  }

  .background1,.background2{
    display: block !important;
  }
  #contact{
    .contact-inner{
      transform: translateX(0) !important;
    }
  }
}

// Media Screen


// rebot

@font-face {
  font-family: font-1;
  src: url("../fonts/Anton-Regular.eot") format("eot");
  src: url("..//fonts/Anton-Regular.svg") format("svg");
  src: url("../fonts/Anton-Regular.ttf") format("ttf");
  src: url("../fonts/Anton-Regular.woff") format("woff");
  src: url("../fonts/Anton-Regular.woff2") format("woff2");
}
@font-face {
  font-family: font-2;
  src: url("../fonts/BebasNeue-Regular.eot") format("eot");
  src: url("..//fonts/BebasNeue-Regular.svg") format("svg");
  src: url("../fonts/BebasNeue-Regular.ttf") format("ttf");
  src: url("../fonts/BebasNeue-Regular.woff") format("woff");
  src: url("../fonts/BebasNeue-Regular.woff2") format("woff2");
}
@font-face {
  font-family: font-3;
  src: url("../fonts/Lalezar-Regular.woff") format("woff");
}
@font-face {
  font-family: font-4;
  src: url("../fonts/MrDafoe-Regular.eot") format("eot");
  src: url("..//fonts/MrDafoe-Regular.svg") format("svg");
  src: url("../fonts/MrDafoe-Regular.ttf") format("ttf");
  src: url("../fonts/MrDafoe-Regular.woff") format("woff");
  src: url("../fonts/MrDafoe-Regular.woff2") format("woff2");
}
@font-face {
  font-family: font-5;
  src: url("../fonts/PragatiNarrow-Regular.eot") format("eot");
  src: url("..//fonts/PragatiNarrow-Regular.svg") format("svg");
  src: url("../fonts/PragatiNarrow-Regular.ttf") format("ttf");
  src: url("../fonts/PragatiNarrow-Regular.woff") format("woff");
  src: url("../fonts/PragatiNarrow-Regular.woff2") format("woff2");
}
@font-face {
  font-family: font-6;
  src: url("../fonts/Montserrat-Regular.svg") format("svg");
  src: url("../fonts/Montserrat-Regular.ttf") format("ttf");
  src: url("../fonts/Montserrat-Regular.woff") format("woff");
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2");
}

.container{
  max-width: 1440px !important;
  padding: 0 25px;
}

  :root {
    --bg-main:#1f4149;
  }

  html{
    scroll-behavior: smooth;
  }

  body{
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-color: #302C42;
    zoom: 80%;
  }

  a {
    color: #000;
    text-decoration: none;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'font-6';
  }

  h1,h2,h3,h4,h5,h6{
    font-family: 'font-6';
  }

  ::-webkit-scrollbar{
    width: 0.5vw;
    background-color: #604d8d;
  }
  ::-webkit-scrollbar-thumb{
    background-color: #b492e8;
    &:hover{
      background-color: #ceb6f1;
    }
  }

  ::selection{
    background-color: #556cde;
    color: white;
  }


// rebot

// Navbar

#navbar{
      backdrop-filter: blur(20px);
      position: sticky;
      left: 0;
      right: 0;
      top: 0px;
      z-index: 50;
      transition: 0.313s ease;
  .navbar-inner{
    .logo{
      display: flex;
      align-items: center;
      img{
        width: 100px;
        cursor: default;
        user-select: none;
      }
      p{
        font-size: $font-xl + 15px;
        background: linear-gradient(90deg,#9873c2,#8269a6 20%, #c1addb 50%,#8269a6 85%,#9873c2);
        background-position: 0;
        background-size: 200% 100%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        letter-spacing: 1px;
        animation: bgMove 3s infinite linear;
        font-family: 'font-2';
        cursor: default;
        user-select: none;
      }
      
    }
    .links{
      a{
        color: $text-white;
        margin: 0 $margin-padding-sm;
        font-size: $font-sm;
      }
    }
    .contact-join{
      .contact,.join{
          margin: 0 $margin-padding-xs;
        button {
          background-color: transparent;
          border: 0;
          outline: 0;
          font-size: $font-sm;
        }
      }
      .contact{
        border: 1px solid $border-white;
        padding: $margin-padding-xs + 2px $margin-padding-lg;
        border-radius: 50px;
        transition: 0.313s ease;
        &:hover{
          background-color: #7736ffeb;
          border-color: #7736ffeb;
        }
        button{
          color: $text-white;
          transition: color 0.913s ease;
        }
      }
      .join{
        background: linear-gradient(90deg, #7d6b9c, #6f5e8f 20%, #5a4b76 50%, #6f5e8f 85%, #7d6b9c);
        border-radius: 50px;
        padding: 7px 3px;
        background-size: 200% 100%;
        background-position: 0;
        &:hover{
          button{
            color: $text-white;
          }
        }
        button{
          background: linear-gradient(to right, #2d1f41bd, #251f41b6);
          padding: 4px 20px;
          color: $text-white;
          border-radius: 50px;
          vertical-align: 1px;
          border: 0;
          outline: 0;
          transition: 0.4313s ease;
        }
      }
      .burger-menu{
        display: block;
        width: 40px;
        direction: rtl;
        .line{
          margin: 10px 0;
          height: 4px;
          background: linear-gradient(to right,#C0B7E8,#8176AF);
          border-radius: 10px;
        }
        .line:nth-child(2){
          width: 75%;
        }
        .line:first-child,.line:last-child{
          width: 100%;
        }
      }
    }
  }
}

// Navbar

// Header

#header{
  .main-subject{
    .background1{
      width: 350px;
      height: 350px;
      top: 44%;
      left: 25%;
      background: radial-gradient(#520bad7d 3%, transparent 66%);
      border-radius: 100%;
      transform: translate(-50%,-50%);
      z-index: -1;
      animation: blur 3s infinite ease-in;
    }
    .background2{
      width: 250px;
      height: 250px;
      top: 68%;
      left: 43%;
      background: radial-gradient(rgb(110 20 155 / 37%) 18%, transparent 69%);
      border-radius: 100%;
      transform: translate(-50%, -50%);
      z-index: -1;
      animation: blur 3s infinite ease-in;
    }
    @keyframes blur {
      0% {
        filter: blur(0);
      }
      50%{
        filter: blur(30px);
      }
      100%{
        filter: blur(0);
      }
    }
    h1{
      .special-text{
        background: linear-gradient(90deg,#af89db,#8269a6 20%, #beacd6 50%,#8269a6 85%,#af89db);
        -webkit-text-fill-color: transparent;
        background-position: 0;
        background-size: 200% 100%;
        background-clip: text;
        animation: bgMove 3.5s linear infinite;
        font-size: 50px;
      }
    }
    p{
      color: $text-color-white;
    }
    .build-your-world{
      .build-your-world-btn{
        width: 60%;
        background: linear-gradient(90deg, #7d6b9c, #6f5e8f 20%, #5a4b76 50%, #6f5e8f 85%, #7d6b9c);
        border-radius: 50px;
        padding: 5px;
        background-size: 200% 100%;
        background-position: 0;
        &:hover + .arrow-right{
          .line{
            width: 40px;
          }
          .right{
            left: 18px;
          }
        }
        button{
          width: 100%;
          background: linear-gradient(to right, #2d1f41bd, #251f41b6);
          padding: 10px 20px;
          color: $text-white;
          border-radius: 50px;
          vertical-align: 1px;
          border: 0;
          outline: 0;
          transition: 0.4313s ease;
        }
      }
      .arrow-right{
        cursor: pointer;
        .right{
          width: 16px;
          height: 16px;
          border-top: 3px solid #fff;
          border-right: 3px solid #fff;
          transform: rotate(45deg);
          transition: 0.313s ease;
          position: relative;
          left: 0;
          border-radius: 2px;
        }
        .line{
          position: absolute;
          height: 2.5px;
          background-color: #fff;
          top: 6.5px;
          left: -6px;
          width: 23px;
          border-radius: 10px;
          transition: 0.313s ease;
        }
      }
    }
  }
  .main-picture{
    position: relative;
    top: 15px;
    width: 80%;
    height: 370px;
    padding: $margin-padding-sm + 2px;
    background-color: #b0b0ff36;
    border-radius: 85px 75px 80px 175px;
    img{
      width: 100%;
      height: 100%;
      display: block;
      border-radius: 85px 75px 80px 175px;
    }
  }
}

// Header

// Contact

#contact{
  margin-top: 68px;
  padding: $margin-padding-xl + 5px $margin-padding-md + 2px;
  border-radius: 100px;
  overflow: hidden;
  background: linear-gradient(to right, rgb(35 34 55 / 95%) 10%, rgba(63, 57, 81, 0.963) 50%, rgb(35 34 55 / 95%) 90%);
  .arrow{
    top: 37%;
    left: 0;
    right: 0;
    z-index: 2;
    i{
      width: 25px;
      height: 25px;
      border-radius: 100%;
      border: 1px solid #fff;
      color: white;
      text-align: center;
      line-height: 25px;
      cursor: pointer;
    }
  }
  .contact-inner{
    transition: transform 0.313s ease;
    > div {
      padding: 10px;
      border-right: 1px solid $border-color-white;
    }
    > div:last-child {
      border-right: unset !important;
    }
    .item{
      justify-content: center;
      .icon{
        width: 60px !important;
        i{
          font-size: $font-xl + 15px;
          color: $text-color-white;
        }
      }
      .content{
        h4{
          color: $text-white;
        }
        p{
          color: $text-color-white;
          font-size: $font-sm;
        }
      }
    }
    
  }
}

// Contact

// Introduction

#introduction{
  margin: 65px 0;
  .intro-left{
    .title{
      cursor: default;
    }
    .to-hydra-vr{
      color: $text-color-white;
      span{
        cursor: pointer;
        &:hover + .arrow-right{
          .line{
            width: 95px;
          }
          .right{
            left: 73px;
          }
        }
      }
      .arrow-right{
        user-select: none;
        .right{
          width: 16px;
          height: 16px;
          border-top: 3px solid $text-color-white;
          border-right: 3px solid $text-color-white;
          transform: rotate(45deg);
          transition: 0.313s ease;
          position: relative;
          left: 61px;
          border-radius: 2px;
        }
        .line{
          position: absolute;
          height: 2.5px;
          background-color: $text-color-white;
          top: 6.5px;
          left: -6px;
          width: 83px;
          border-radius: 10px;
          transition: 0.313s ease;
        }
      }
    }
  }
  .intro-right{
    .text{
      color: $text-color-white;
    }
  }
}

// Introduction

// About

#about{
  .about-left{
    .image{
      padding: 12px;
      background: #b0b0ff36;
      width: 75%;
      height: 460px;
      border-radius: 175px 90px 185px 100px;
      img{
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 175px 90px 185px 100px;
      }
    }
  }
  .about-right{
    position: relative;
    .hydra-vr{
      color: $text-color-white;
    }
    .text{
      margin-top: $margin-padding-xl + 10px;
      color: $text-color-white;
    }

    .lets-get-in-touch{
      .lets-get-in-touch-btn{
        width: 60%;
        background: linear-gradient(90deg, #7d6b9c, #6f5e8f 20%, #5a4b76 50%, #6f5e8f 85%, #7d6b9c);
        border-radius: 50px;
        padding: 5px;
        background-size: 200% 100%;
        background-position: 0;
        &:hover + .arrow-right{
          .line{
            width: 40px;
          }
          .right{
            left: 18px;
          }
        }
        button{
          width: 100%;
          background: linear-gradient(to right, #2d1f41bd, #251f41b6);
          padding: 10px 20px;
          color: $text-white;
          border-radius: 50px;
          vertical-align: 1px;
          border: 0;
          outline: 0;
          transition: 0.4313s ease;
        }
      }
      .arrow-right{
        cursor: pointer;
        .right{
          width: 16px;
          height: 16px;
          border-top: 3px solid #fff;
          border-right: 3px solid #fff;
          transform: rotate(45deg);
          transition: 0.313s ease;
          position: relative;
          left: 0;
          border-radius: 2px;
        }
        .line{
          position: absolute;
          height: 2.5px;
          background-color: #fff;
          top: 6.5px;
          left: -6px;
          width: 23px;
          border-radius: 10px;
          transition: 0.313s ease;
        }
      }
    }

  }
}

// About

// Why Build

#why-build{
  margin: 65px 0;
  .why-build-left{
    .title{
      cursor: default;
    }
    .with-hydra{
      color: $text-color-white;
      span{
        cursor: pointer;
        &:hover + .arrow-right{
          .line{
            width: 95px;
          }
          .right{
            left: 73px;
          }
        }
      }
      .arrow-right{
        user-select: none;
        .right{
          width: 16px;
          height: 16px;
          border-top: 3px solid $text-color-white;
          border-right: 3px solid $text-color-white;
          transform: rotate(45deg);
          transition: 0.313s ease;
          position: relative;
          left: 61px;
          border-radius: 2px;
        }
        .line{
          position: absolute;
          height: 2.5px;
          background-color: $text-color-white;
          top: 6.5px;
          left: -6px;
          width: 83px;
          border-radius: 10px;
          transition: 0.313s ease;
        }
      }
    }
  }
  .why-build-right{
    .text{
      color: $text-color-white;
    }
  }
}

// Why Build

// Card

#cards{
  #skeleton{
    .skeleton-inner{
      background: radial-gradient(#494364, #211E2E);
      border-radius: 30px;
      padding: $margin-padding-lg;
      .skeleton-image{
        .skeleton-image-inner{
          width: 170px;
          height: 170px;
          border-radius: 100%;
          background-color: #0e0e0e5a;
          padding: $margin-padding-sm;
          .circle{
            width: 100%;
            height: 100%;
            border-radius: 100%;
            background: linear-gradient(90deg, #1e1945 -49%, #443c59 9%, #1d1921 234%);
            background-size: 200% 100%;
            background-position: 0;
            animation: skeletonMove 3s infinite linear;
            transform: rotate(45deg);
            @keyframes skeletonMove {
              0%{
                background-position: 0;
              } 
              100%{
                background-position: 400%;
              }
            }
          }
        }
      }
      .skeleton-title{
        width: 70%;
        height: 35px;
        border-radius: 50px;
        background: linear-gradient(90deg, #6c6698, #4d496d 42%, #4d496d -166%, #4d496d -92%, #6c6698);
        background-size: 200% 100%;
        background-position: 0;
        animation: skeletonMove 4s infinite linear;
      }
      .skeleton-border{
        width: 70%;
        height: 2px;
        background-color: $border-color-white !important;
        border-radius: 10px;
      }
      .skeleton-text{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .line{
          width: 90%;
          height: 15px;
          border-radius: 50px;
          background: linear-gradient(90deg, #6c6698, #4d496d 42%, #4d496d -166%, #4d496d -92%, #6c6698);
          background-size: 200% 100%;
          background-position: 0;
          animation: skeletonMove 4s infinite linear;
        }
      }
      .skeleton-link{
        width: 60%;
          height: 45px;
          border-radius: 50px;
          background: linear-gradient(90deg, #6c6698, #4d496d 42%, #4d496d -166%, #4d496d -92%, #6c6698);
          background-size: 200% 100%;
          background-position: 0;
          animation: skeletonMove 4s infinite linear;
      }
    }
  }
  #post{
    .post-inner{
      background: radial-gradient(#494364, #211E2E);
      border-radius: 30px;
      padding: $margin-padding-lg;
      .post-image{
        .post-image-inner{
          width: 170px;
          height: 170px;
          border-radius: 100%;
          background-color: #0e0e0e5a;
          padding: $margin-padding-sm;
          img{
            width: 100%;
            height: 100%;
            border-radius: 100%;
            display: block;
          }
        }
      }
      .post-title{
        border-bottom: 2px solid $border-color-white;
      }
      .post-text{
        color: $text-color-white;
      }
      .post-link{
        width: 60%;
        background: linear-gradient(90deg, #7d6b9c, #6f5e8f 20%, #5a4b76 50%, #6f5e8f 85%, #7d6b9c);
        border-radius: 50px;
        padding: 5px;
        background-size: 200% 100%;
        background-position: 0;
        &:hover + .arrow-right{
          .line{
            width: 40px;
          }
          .right{
            left: 18px;
          }
        }
        button{
          width: 100%;
          background: linear-gradient(to right, #2d1f41bd, #251f41b6);
          padding: 10px 20px;
          color: $text-white;
          border-radius: 50px;
          vertical-align: 1px;
          border: 0;
          outline: 0;
          transition: 0.4313s ease;
        }
      }
    }
  }
}

// Card

// How We Build

#how-we-build{
    margin: 65px 0;
    .why-build-left{
      .title{
        cursor: default;
      }
      .with-hydra{
        color: $text-color-white;
        span{
          cursor: pointer;
          &:hover + .arrow-right{
            .line{
              width: 95px;
            }
            .right{
              left: 73px;
            }
          }
        }
        .arrow-right{
          user-select: none;
          .right{
            width: 16px;
            height: 16px;
            border-top: 3px solid $text-color-white;
            border-right: 3px solid $text-color-white;
            transform: rotate(45deg);
            transition: 0.313s ease;
            position: relative;
            left: 61px;
            border-radius: 2px;
          }
          .line{
            position: absolute;
            height: 2.5px;
            background-color: $text-color-white;
            top: 6.5px;
            left: -6px;
            width: 83px;
            border-radius: 10px;
            transition: 0.313s ease;
          }
        }
      }
    }
    .why-build-right{
      .text{
        color: $text-color-white;
      }
    }
}

// How We Build

// VrDesign

#vr-design{
  .vr-item{
    width: 100%;
    .number-wrapper{
      width: 170px;
      height: 170px;
      border-radius: 100%;
      background-color: #13131846;
      padding: 15px;
      cursor: pointer;
      .number{
        width: 100%;
        height: 100%;
        border-radius: 100%;
        background: linear-gradient(55deg,#C0B7E8,#8176AF);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 50px;
        font-weight: bolder;
        color: #343045;
      }
    }
    .number-link:hover + .subject-wrapper .subject{
      transform: translateX(0) !important;
      i{
        margin : 0 8px !important;
      }
    }
    .subject{
      user-select: none;
      transform: translateX(-29px);
      transition: 0.313s ease;
      i{
        color: #C0B7E8;
        margin: 0 30px 0 0;
        transition: 0.4313s ease;
      }
      h4{
        line-height: 36px;
        text-decoration: underline;
      }
    }
  }
}

// VrDesign

// Technologies

#technologies{
  .technologie{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px;
    border: 10px solid #b0b0ff36;
    border-radius: 588px;
    .arrow-wrapper{
      bottom: -40px;
      left: 0;
      right: 0;
      display: flex;
      justify-content: center;
      .arrow-bottom{
        width: 70px;
        height: 70px;
        background-color: #0e0e0e96;
        border-radius: 100%;
        padding: 10px;
        cursor: pointer;
        i{
          color: #433D60;
          font-size: $font-xl + 10px;
          text-align: center;
          width: 100%;
          height: 100%;
          line-height: 1.7;
          border-radius: 100%;
          background: linear-gradient(to right, #8176AF,#C0B7E8);
        }
      }
    }
    .image{
      border-radius: 200px;
      overflow: hidden;
      left: 0 ;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-image: url('../../public/img/img6.jpg');
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: 0 27%;
      filter: opacity(0.3) blur(4px);
    }
    .content{
      z-index: 5;
      user-select: none;
      h3{
        color: $text-color-white;
      }
    }
  }
}

// Technologies

// Animation

.bg-move{
  animation: bgMove 2s linear 1;
}
@keyframes bgMove {
  from{
    background-position: 0;
  }
  to{
    background-position: 400%;
  }
}

  // Animation