@media screen and (max-width: 668px) {
  #platform .slider-container .slider-image {
    width: 95% !important;
  }
  #contact {
    max-width: 85% !important;
  }
  #header .main-picture {
    width: 70% !important;
    height: 400px !important;
  }
  #about .image {
    width: 70% !important;
    height: 400px !important;
  }
  .line-clamp-4 {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
  }
}
@media screen and (min-width: 668px) and (max-width: 768px) {
  .line-clamp-4 {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
  }
  #contact {
    display: none;
  }
  #header .main-picture {
    width: 65% !important;
    height: 440px !important;
  }
  #about .image {
    width: 65% !important;
    height: 440px !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 991.99px) {
  .line-clamp-md-6 {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    line-clamp: 6;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
  }
  #contact {
    display: none;
  }
  #header .main-picture {
    width: 60% !important;
    height: 460px !important;
  }
  #about .image {
    width: 60% !important;
    height: 460px !important;
  }
}
@media screen and (max-width: 991.99px) {
  #technologies .technologie {
    border-radius: 30px;
  }
  #vr-design .vr-item {
    flex: 0 0 auto;
    width: 100% !important;
  }
  #vr-design .vr-item .subject {
    transform: unset !important;
  }
  .background1,
  .background2 {
    display: none !important;
  }
  #header .build-your-world {
    margin-top: 35px;
  }
  #contact {
    margin-top: 25px !important;
  }
  #contact .contact-inner > div {
    padding: 10px 35px !important;
    border-right: unset !important;
  }
}
@media screen and (min-width: 768px) {
  #cards #post {
    transform: unset !important;
  }
  #vr-design .vr-wrapper {
    transform: unset !important;
  }
  #vr-design .vr-wrapper .vr-item {
    width: 420px !important;
  }
}
@media screen and (min-width: 992px) {
  #cards #post .post-inner {
    height: auto !important;
  }
  #cards #skeleton .skeleton-inner {
    height: auto !important;
  }
  .background1,
  .background2 {
    display: block !important;
  }
  #contact .contact-inner {
    transform: translateX(0) !important;
  }
}
@font-face {
  font-family: font-1;
  src: url("../fonts/Anton-Regular.eot") format("eot");
  src: url("..//fonts/Anton-Regular.svg") format("svg");
  src: url("../fonts/Anton-Regular.ttf") format("ttf");
  src: url("../fonts/Anton-Regular.woff") format("woff");
  src: url("../fonts/Anton-Regular.woff2") format("woff2");
}
@font-face {
  font-family: font-2;
  src: url("../fonts/BebasNeue-Regular.eot") format("eot");
  src: url("..//fonts/BebasNeue-Regular.svg") format("svg");
  src: url("../fonts/BebasNeue-Regular.ttf") format("ttf");
  src: url("../fonts/BebasNeue-Regular.woff") format("woff");
  src: url("../fonts/BebasNeue-Regular.woff2") format("woff2");
}
@font-face {
  font-family: font-3;
  src: url("../fonts/Lalezar-Regular.woff") format("woff");
}
@font-face {
  font-family: font-4;
  src: url("../fonts/MrDafoe-Regular.eot") format("eot");
  src: url("..//fonts/MrDafoe-Regular.svg") format("svg");
  src: url("../fonts/MrDafoe-Regular.ttf") format("ttf");
  src: url("../fonts/MrDafoe-Regular.woff") format("woff");
  src: url("../fonts/MrDafoe-Regular.woff2") format("woff2");
}
@font-face {
  font-family: font-5;
  src: url("../fonts/PragatiNarrow-Regular.eot") format("eot");
  src: url("..//fonts/PragatiNarrow-Regular.svg") format("svg");
  src: url("../fonts/PragatiNarrow-Regular.ttf") format("ttf");
  src: url("../fonts/PragatiNarrow-Regular.woff") format("woff");
  src: url("../fonts/PragatiNarrow-Regular.woff2") format("woff2");
}
@font-face {
  font-family: font-6;
  src: url("../fonts/Montserrat-Regular.svg") format("svg");
  src: url("../fonts/Montserrat-Regular.ttf") format("ttf");
  src: url("../fonts/Montserrat-Regular.woff") format("woff");
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2");
}
.container {
  max-width: 1440px !important;
  padding: 0 35px;
}

:root {
  --bg-main: #1f4149;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-color: #1a2648;
  zoom: 80%;
}

a {
  color: #000;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "font-6";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "font-6";
}

::-webkit-scrollbar {
  width: 0.5vw;
  background-color: #604d8d;
}

::-webkit-scrollbar-thumb {
  background-color: #b492e8;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #ceb6f1;
}

::selection {
  background-color: #556cde;
  color: white;
}

.select-none {
  user-select: none;
}

#navbar {
  backdrop-filter: blur(10px);
  transition: 0.313s ease;
}
#navbar .navbar-inner .logo {
  display: flex;
  align-items: center;
}
#navbar .navbar-inner .logo img {
  width: 100px;
  cursor: default;
  user-select: none;
}
#navbar .navbar-inner .logo p {
  font-size: 35px;
  background: linear-gradient(90deg, #656dd6, #9ca3ff 20%, #8186c7 50%, #9ca3ff 85%, #656dd6);
  background-position: 0;
  background-size: 200% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  letter-spacing: 1px;
  animation: bgMove 3s infinite linear;
  font-family: "font-2";
  cursor: default;
  user-select: none;
}
#navbar .navbar-inner .links a {
  color: #fff;
  margin: 0 10px;
  font-size: 14px;
}
#navbar .navbar-inner .contact-join .contact,
#navbar .navbar-inner .contact-join .join {
  margin: 0 5px;
}
#navbar .navbar-inner .contact-join .contact button,
#navbar .navbar-inner .contact-join .join button {
  background-color: transparent;
  border: 0;
  outline: 0;
  font-size: 14px;
}
#navbar .navbar-inner .contact-join .contact {
  border: 2px solid #fff;
  padding: 7px 20px;
  border-radius: 50px;
  transition: 0.313s ease;
}
#navbar .navbar-inner .contact-join .contact:hover {
  background-color: rgba(50, 27, 129, 0.92);
  border-color: rgba(50, 27, 129, 0.92);
}
#navbar .navbar-inner .contact-join .contact:hover button {
  color: #fff;
}
#navbar .navbar-inner .contact-join .contact button {
  letter-spacing: 2px;
  color: #fff;
  transition: color 0.913s ease;
  font-size: 14px;
}
#navbar .navbar-inner .contact-join .join {
  background: linear-gradient(90deg, #3935c9, #3935c9 20%, #472aac 50%, #594382 85%, #3935c9);
  border-radius: 50px;
  padding: 10px 3px;
  background-size: 200% 100%;
  background-position: 0;
}
#navbar .navbar-inner .contact-join .join:hover button {
  color: #fff;
}
#navbar .navbar-inner .contact-join .join button {
  background: linear-gradient(to right, rgba(15, 27, 74, 0.862745098), rgba(15, 27, 74, 0.7647058824));
  padding: 6px 20px;
  color: #fff;
  border-radius: 50px;
  vertical-align: 1px;
  border: 0;
  outline: 0;
  transition: 0.4313s ease;
  letter-spacing: 2px;
  font-size: 14px;
}
#navbar .navbar-inner .contact-join .burger-menu {
  display: block;
  width: 40px;
  direction: rtl;
  position: relative;
  z-index: 600;
}
#navbar .navbar-inner .contact-join .burger-menu .line {
  margin: 10px 0;
  height: 4px;
  background: linear-gradient(to right, #c0b7e8, #8176af);
  border-radius: 10px;
}
#navbar .navbar-inner .contact-join .burger-menu .line:nth-child(2) {
  width: 75%;
}
#navbar .navbar-inner .contact-join .burger-menu .line:first-child,
#navbar .navbar-inner .contact-join .burger-menu .line:last-child {
  width: 100%;
}

#header .main-subject .background1 {
  width: 375px;
  height: 375px;
  top: 44%;
  left: 25%;
  background: radial-gradient(rgba(35, 81, 139, 0.6588235294) 0%, transparent 66%);
  border-radius: 100%;
  transform: translate(-50%, -50%);
  z-index: -1;
  animation: blur 3s infinite ease-in;
}
#header .main-subject .background2 {
  width: 270px;
  height: 270px;
  top: 68%;
  left: 43%;
  background: radial-gradient(rgba(49, 56, 183, 0.4352941176) 18%, transparent 69%);
  border-radius: 100%;
  transform: translate(-50%, -50%);
  z-index: -1;
  animation: blur 3s infinite ease-in;
}
@keyframes blur {
  0% {
    filter: blur(0);
  }
  50% {
    filter: blur(30px);
  }
  100% {
    filter: blur(0);
  }
}
#header .main-subject h1 .special-text {
  background: linear-gradient(90deg, #656dd6, #9ca3ff 20%, #8186c7 50%, #9ca3ff 85%, #656dd6);
  -webkit-text-fill-color: transparent;
  background-position: 0;
  background-size: 200% 100%;
  background-clip: text;
  animation: bgMove 3.5s linear infinite;
  font-size: 50px;
}
#header .main-subject p {
  color: #ece6ff;
}
#header .main-subject .build-your-world .build-your-world-btn {
  width: 375px;
  background: linear-gradient(90deg, #3935c9, #3935c9 20%, #472aac 50%, #594382 85%, #3935c9);
  border-radius: 50px;
  padding: 5px;
  background-size: 200% 100%;
  background-position: 0;
}
#header .main-subject .build-your-world .build-your-world-btn:hover + .arrow-right .line {
  width: 40px;
}
#header .main-subject .build-your-world .build-your-world-btn:hover + .arrow-right .right {
  left: 18px;
}
#header .main-subject .build-your-world .build-your-world-btn button {
  width: 100%;
  background: linear-gradient(to right, rgba(15, 27, 74, 0.862745098), rgba(15, 27, 74, 0.7647058824));
  padding: 10px 20px;
  color: #fff;
  border-radius: 50px;
  vertical-align: 1px;
  border: 0;
  outline: 0;
  transition: 0.4313s ease;
}
#header .main-subject .build-your-world .arrow-right {
  cursor: pointer;
}
#header .main-subject .build-your-world .arrow-right .right {
  width: 16px;
  height: 16px;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  transform: rotate(45deg);
  transition: 0.313s ease;
  position: relative;
  left: 0;
  border-radius: 2px;
}
#header .main-subject .build-your-world .arrow-right .line {
  position: absolute;
  height: 2.5px;
  background-color: #fff;
  top: 6.5px;
  left: -6px;
  width: 23px;
  border-radius: 10px;
  transition: 0.313s ease;
}
#header .main-picture {
  position: relative;
  top: 15px;
  width: 80%;
  height: 370px;
  padding: 12px;
  background-color: rgba(176, 176, 255, 0.2117647059);
  border-radius: 85px 75px 80px 175px;
  transition: 0.313s ease;
}
#header .main-picture:hover {
  padding: 0;
}
#header .main-picture img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 85px 75px 80px 175px;
}

#contact {
  margin-top: 68px;
  padding: 30px 17px;
  border-radius: 100px;
  overflow: hidden;
  background: linear-gradient(to right, rgba(49, 79, 111, 0.95) 10%, rgba(255, 255, 255, 0.02) 50%, rgb(40, 77, 126) 90%);
}
#contact .arrow {
  top: 37%;
  left: 0;
  right: 0;
  z-index: 2;
}
#contact .arrow i {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  border: 1px solid #fff;
  color: white;
  text-align: center;
  line-height: 25px;
  cursor: pointer;
}
#contact .contact-inner {
  transition: transform 0.313s ease;
}
#contact .contact-inner > div {
  padding: 10px;
  border-right: 1px solid rgba(196, 178, 248, 0.2980392157);
}
#contact .contact-inner > div:last-child {
  border-right: unset !important;
}
#contact .contact-inner .item {
  justify-content: center;
}
#contact .contact-inner .item .icon {
  width: 60px !important;
}
#contact .contact-inner .item .icon i {
  font-size: 35px;
  color: #ece6ff;
}
#contact .contact-inner .item .content h4 {
  color: #fff;
}
#contact .contact-inner .item .content p {
  color: #ece6ff;
  font-size: 14px;
}

#introduction {
  margin: 65px 0;
}
#introduction .intro-left .title {
  cursor: default;
}
#introduction .intro-left .to-hydra-vr {
  color: #ece6ff;
}
#introduction .intro-left .to-hydra-vr span {
  cursor: pointer;
}
#introduction .intro-left .to-hydra-vr span:hover + .arrow-right .line {
  width: 95px;
}
#introduction .intro-left .to-hydra-vr span:hover + .arrow-right .right {
  left: 73px;
}
#introduction .intro-left .to-hydra-vr .arrow-right {
  user-select: none;
}
#introduction .intro-left .to-hydra-vr .arrow-right .right {
  width: 16px;
  height: 16px;
  border-top: 3px solid #ece6ff;
  border-right: 3px solid #ece6ff;
  transform: rotate(45deg);
  transition: 0.313s ease;
  position: relative;
  left: 61px;
  border-radius: 2px;
}
#introduction .intro-left .to-hydra-vr .arrow-right .line {
  position: absolute;
  height: 2.5px;
  background-color: #ece6ff;
  top: 6.5px;
  left: -6px;
  width: 83px;
  border-radius: 10px;
  transition: 0.313s ease;
}
#introduction .intro-right .text {
  color: #ece6ff;
}

#about .about-left .image {
  padding: 12px;
  background: rgba(176, 176, 255, 0.2117647059);
  width: 75%;
  height: 460px;
  border-radius: 175px 90px 185px 100px;
  transition: 0.313s ease;
}
#about .about-left .image:hover {
  padding: 0;
}
#about .about-left .image img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 175px 90px 185px 100px;
}
#about .about-right {
  position: relative;
}
#about .about-right .hydra-vr {
  color: #ece6ff;
}
#about .about-right .text {
  margin-top: 35px;
  color: #ece6ff;
}
#about .about-right .lets-get-in-touch .lets-get-in-touch-btn {
  width: 375px;
  background: linear-gradient(90deg, #3935c9, #3935c9 20%, #472aac 50%, #594382 85%, #3935c9);
  border-radius: 50px;
  padding: 5px;
  background-size: 200% 100%;
  background-position: 0;
}
#about .about-right .lets-get-in-touch .lets-get-in-touch-btn:hover + .arrow-right .line {
  width: 40px;
}
#about .about-right .lets-get-in-touch .lets-get-in-touch-btn:hover + .arrow-right .right {
  left: 18px;
}
#about .about-right .lets-get-in-touch .lets-get-in-touch-btn button {
  width: 100%;
  background: linear-gradient(to right, rgba(15, 27, 74, 0.862745098), rgba(15, 27, 74, 0.7647058824));
  padding: 10px 20px;
  color: #fff;
  border-radius: 50px;
  vertical-align: 1px;
  border: 0;
  outline: 0;
  transition: 0.4313s ease;
}
#about .about-right .lets-get-in-touch .arrow-right {
  cursor: pointer;
}
#about .about-right .lets-get-in-touch .arrow-right .right {
  width: 16px;
  height: 16px;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  transform: rotate(45deg);
  transition: 0.313s ease;
  position: relative;
  left: 0;
  border-radius: 2px;
}
#about .about-right .lets-get-in-touch .arrow-right .line {
  position: absolute;
  height: 2.5px;
  background-color: #fff;
  top: 6.5px;
  left: -6px;
  width: 23px;
  border-radius: 10px;
  transition: 0.313s ease;
}

#why-build {
  margin: 65px 0;
}
#why-build .why-build-left .title {
  cursor: default;
}
#why-build .why-build-left .with-hydra {
  color: #ece6ff;
}
#why-build .why-build-left .with-hydra span {
  cursor: pointer;
}
#why-build .why-build-left .with-hydra span:hover + .arrow-right .line {
  width: 95px;
}
#why-build .why-build-left .with-hydra span:hover + .arrow-right .right {
  left: 73px;
}
#why-build .why-build-left .with-hydra .arrow-right {
  user-select: none;
}
#why-build .why-build-left .with-hydra .arrow-right .right {
  width: 16px;
  height: 16px;
  border-top: 3px solid #ece6ff;
  border-right: 3px solid #ece6ff;
  transform: rotate(45deg);
  transition: 0.313s ease;
  position: relative;
  left: 61px;
  border-radius: 2px;
}
#why-build .why-build-left .with-hydra .arrow-right .line {
  position: absolute;
  height: 2.5px;
  background-color: #ece6ff;
  top: 6.5px;
  left: -6px;
  width: 83px;
  border-radius: 10px;
  transition: 0.313s ease;
}
#why-build .why-build-right .text {
  color: #ece6ff;
}

#cards {
  user-select: none;
}
#cards #skeleton .skeleton-inner {
  background: radial-gradient(#394eb5, #061d3d);
  border-radius: 30px;
  height: 550px;
  padding: 20px;
}
#cards #skeleton .skeleton-inner .skeleton-image .skeleton-image-inner {
  width: 170px;
  height: 170px;
  border-radius: 100%;
  background-color: rgba(14, 14, 14, 0.3529411765);
  padding: 10px;
}
#cards #skeleton .skeleton-inner .skeleton-image .skeleton-image-inner .circle {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: linear-gradient(90deg, #1e1945 -49%, #35566f 9%, #1d1921 234%);
  background-size: 200% 100%;
  background-position: 0;
  animation: skeletonMove 3s infinite linear;
  transform: rotate(45deg);
}
@keyframes skeletonMove {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 400%;
  }
}
#cards #skeleton .skeleton-inner .skeleton-title {
  width: 70%;
  height: 35px;
  border-radius: 50px;
  background: linear-gradient(90deg, #4a6f92, #6695c2 42%, #2c4172 -166%, #6695c2 -92%, #4a6f92);
  background-size: 200% 100%;
  background-position: 0;
  animation: skeletonMove 4s infinite linear;
}
#cards #skeleton .skeleton-inner .skeleton-border {
  width: 70%;
  height: 2px;
  background-color: rgba(196, 178, 248, 0.2980392157) !important;
  border-radius: 10px;
}
#cards #skeleton .skeleton-inner .skeleton-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#cards #skeleton .skeleton-inner .skeleton-text .line {
  width: 90%;
  height: 15px;
  border-radius: 50px;
  background: linear-gradient(90deg, #4a6f92, #6695c2 42%, #2c4172 -166%, #6695c2 -92%, #4a6f92);
  background-size: 200% 100%;
  background-position: 0;
  animation: skeletonMove 4s infinite linear;
}
#cards #skeleton .skeleton-inner .skeleton-link {
  width: 60%;
  height: 45px;
  border-radius: 50px;
  background: linear-gradient(90deg, #4a6f92, #6695c2 42%, #2c4172 -166%, #6695c2 -92%, #4a6f92);
  background-size: 200% 100%;
  background-position: 0;
  animation: skeletonMove 4s infinite linear;
}
#cards #post {
  transition: 0.313s ease;
}
#cards #post .post-inner {
  background: radial-gradient(#394eb5, #061d3d);
  border-radius: 30px;
  padding: 20px;
  height: 550px;
}
#cards #post .post-inner .post-image .post-image-inner {
  width: 170px;
  height: 170px;
  border-radius: 100%;
  background-color: rgba(14, 14, 14, 0.3529411765);
  padding: 10px;
}
#cards #post .post-inner .post-image .post-image-inner img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  display: block;
}
#cards #post .post-inner .post-title {
  border-bottom: 2px solid rgba(196, 178, 248, 0.2980392157);
}
#cards #post .post-inner .post-text {
  color: #ece6ff;
  text-align: center;
}
#cards #post .post-inner .post-link {
  width: 60%;
  background: linear-gradient(90deg, #3935c9, #3935c9 20%, #472aac 50%, #594382 85%, #3935c9);
  border-radius: 50px;
  padding: 5px;
  background-size: 200% 100%;
  background-position: 0;
}
#cards #post .post-inner .post-link:hover + .arrow-right .line {
  width: 40px;
}
#cards #post .post-inner .post-link:hover + .arrow-right .right {
  left: 18px;
}
#cards #post .post-inner .post-link button {
  width: 100%;
  background: linear-gradient(to right, rgba(15, 27, 74, 0.862745098), rgba(15, 27, 74, 0.7647058824));
  padding: 10px 20px;
  color: #fff;
  border-radius: 50px;
  vertical-align: 1px;
  border: 0;
  outline: 0;
  transition: 0.4313s ease;
}
#cards .arrow-wrapper {
  position: absolute;
  top: 44%;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 45px;
}
#cards .arrow-wrapper .icon {
  width: 55px;
  height: 55px;
  background-color: rgba(15, 15, 20, 0.6392156863);
  border-radius: 100%;
  padding: 8px;
}
#cards .arrow-wrapper .icon i {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  text-align: center;
  line-height: 1.7;
  background: linear-gradient(to right, #8176af, #c0b7e8);
  color: #433d60;
  font-size: 23px;
  cursor: pointer;
}

#how-we-build {
  margin: 65px 0;
}
#how-we-build .why-build-left .title {
  cursor: default;
}
#how-we-build .why-build-left .with-hydra {
  color: #ece6ff;
}
#how-we-build .why-build-left .with-hydra span {
  cursor: pointer;
}
#how-we-build .why-build-left .with-hydra span:hover + .arrow-right .line {
  width: 95px;
}
#how-we-build .why-build-left .with-hydra span:hover + .arrow-right .right {
  left: 73px;
}
#how-we-build .why-build-left .with-hydra .arrow-right {
  user-select: none;
}
#how-we-build .why-build-left .with-hydra .arrow-right .right {
  width: 16px;
  height: 16px;
  border-top: 3px solid #ece6ff;
  border-right: 3px solid #ece6ff;
  transform: rotate(45deg);
  transition: 0.313s ease;
  position: relative;
  left: 61px;
  border-radius: 2px;
}
#how-we-build .why-build-left .with-hydra .arrow-right .line {
  position: absolute;
  height: 2.5px;
  background-color: #ece6ff;
  top: 6.5px;
  left: -6px;
  width: 83px;
  border-radius: 10px;
  transition: 0.313s ease;
}
#how-we-build .why-build-right .text {
  color: #ece6ff;
}

#vr-design .vr-wrapper .vr-item {
  width: 100%;
  margin: 10px 0;
}
#vr-design .vr-wrapper .vr-item .number-wrapper {
  width: 170px;
  height: 170px;
  border-radius: 100%;
  background-color: rgba(19, 19, 24, 0.2745098039);
  padding: 15px;
  cursor: pointer;
}
#vr-design .vr-wrapper .vr-item .number-wrapper .number {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: linear-gradient(55deg, #c0b7e8, #8176af);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-weight: bolder;
  color: #343045;
}
#vr-design .vr-wrapper .vr-item .number-link:hover + .subject-wrapper .subject {
  transform: translateX(0) !important;
}
#vr-design .vr-wrapper .vr-item .number-link:hover + .subject-wrapper .subject i {
  margin: 0 8px !important;
}
#vr-design .vr-wrapper .vr-item .subject {
  user-select: none;
  transform: translateX(-29px);
  transition: 0.313s ease;
}
#vr-design .vr-wrapper .vr-item .subject i {
  color: #c0b7e8;
  margin: 0 30px 0 0;
  transition: 0.4313s ease;
}
#vr-design .vr-wrapper .vr-item .subject h4 {
  line-height: 36px;
  text-decoration: underline;
}
#vr-design .arrow-wrapper {
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 45px;
}
#vr-design .arrow-wrapper .icon {
  width: 55px;
  height: 55px;
  background-color: rgba(15, 15, 20, 0.6392156863);
  border-radius: 100%;
  padding: 8px;
}
#vr-design .arrow-wrapper .icon i {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  text-align: center;
  line-height: 1.7;
  background: linear-gradient(to right, #8176af, #c0b7e8);
  color: #433d60;
  font-size: 23px;
  cursor: pointer;
}

#technologies .technologie {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px;
  border: 0px solid rgba(176, 176, 255, 0.2117647059);
  border-radius: 588px !important;
  transition: 0.313s ease;
}
#technologies .technologie .arrow-wrapper {
  bottom: -30px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}
#technologies .technologie .arrow-wrapper .arrow-bottom {
  width: 70px;
  height: 70px;
  background-color: rgba(14, 14, 14, 0.5882352941);
  border-radius: 100%;
  padding: 10px;
}
#technologies .technologie .arrow-wrapper .arrow-bottom i {
  color: #433d60;
  font-size: 30px;
  text-align: center;
  width: 100%;
  height: 100%;
  line-height: 1.7;
  border-radius: 100%;
  background: linear-gradient(to right, #8176af, #c0b7e8);
}
#technologies .technologie .image {
  border-radius: 200px;
  overflow: hidden;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("../../public/img/img6.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 27%;
  filter: opacity(0.3) blur(4px);
}
#technologies .technologie .content {
  z-index: 5;
  user-select: none;
}
#technologies .technologie .content h3 {
  color: #ece6ff;
}

#platform .slider-container .slick-track {
  display: flex;
  align-items: center;
}
#platform .slider-container .slick-track .image-wrapper:focus-visible {
  border: none;
  outline: none;
  box-shadow: none;
}
#platform .slider-container .slick-track .image-wrapper .slider-image {
  width: 60%;
  display: block;
}

#join {
  margin: 65px 0;
}
#join .join-wrapper {
  background: radial-gradient(#394eb5, #061d3d);
  border-radius: 70px;
}
#join .join-wrapper .title {
  user-select: none;
}
#join .join-wrapper .description {
  user-select: none;
  color: #ece6ff;
}
#join .join-wrapper form input,
#join .join-wrapper form textarea {
  border-radius: 50px;
  border: 2px solid #fff;
  background-color: transparent;
  padding: 15px 25px;
  outline: 0;
  color: white;
  font-size: 18px;
}
#join .join-wrapper form input::placeholder,
#join .join-wrapper form textarea::placeholder {
  color: white !important;
}
#join .join-wrapper form textarea {
  height: 230px;
  min-height: 230px;
}
#join .join-wrapper form textarea::-webkit-scrollbar {
  display: none;
}
#join .join-wrapper form .no-spinner {
  -moz-appearance: textfield;
}
#join .join-wrapper form .no-spinner::-webkit-inner-spin-button,
#join .join-wrapper form .no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#join .join-wrapper form .send-to-hydra-btn {
  width: 275px;
  background: linear-gradient(90deg, #3935c9, #3935c9 20%, #472aac 50%, #594382 85%, #3935c9);
  border-radius: 50px;
  padding: 5px;
  background-size: 200% 100%;
  background-position: 0;
}
#join .join-wrapper form .send-to-hydra-btn:hover + .arrow-right .line {
  width: 40px;
}
#join .join-wrapper form .send-to-hydra-btn:hover + .arrow-right .right {
  left: 18px;
}
#join .join-wrapper form .send-to-hydra-btn button {
  width: 100%;
  background: linear-gradient(to right, rgba(15, 27, 74, 0.862745098), rgba(15, 27, 74, 0.7647058824));
  padding: 14px 20px;
  color: #fff;
  border-radius: 50px;
  vertical-align: 1px;
  border: 0;
  outline: 0;
  transition: 0.4313s ease;
  font-size: 20px;
}

#footer {
  margin: 200px 0 0 0;
}
#footer .links a {
  color: white;
  margin: 5px 0;
  transition: 0.313s ease;
}
#footer .links a:hover {
  padding-left: 10px;
}
#footer .social-media .media .media-link:last-child {
  margin: 0 !important;
}
#footer .social-media .media .media-link {
  margin-right: 10px;
  width: 47px;
  height: 47px;
  background: linear-gradient(90deg, #3935c9, #3935c9 20%, #472aac 50%, #594382 85%, #3935c9);
  border-radius: 50px;
  padding: 5px;
  background-size: 200% 100%;
  background-position: 0;
  display: block;
  transition: 0.313s linear;
}
#footer .social-media .media .media-link:hover {
  transform: scale(1.2);
}
#footer .social-media .media .media-link button {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(15, 27, 74, 0.862745098), rgba(15, 27, 74, 0.7647058824));
  color: #fff;
  border-radius: 100%;
  vertical-align: 1px;
  border: 0;
  outline: 0;
  transition: 0.4313s ease;
  font-size: 18px;
}
#footer .social-media .build-your-world-btn {
  display: block;
  width: 220px;
  background: linear-gradient(90deg, #3935c9, #3935c9 20%, #472aac 50%, #594382 85%, #3935c9);
  border-radius: 50px;
  padding: 5px;
  background-size: 200% 100%;
  background-position: 0;
}
#footer .social-media .build-your-world-btn:hover + .arrow-right .line {
  width: 40px;
}
#footer .social-media .build-your-world-btn:hover + .arrow-right .right {
  left: 18px;
}
#footer .social-media .build-your-world-btn button {
  width: 100%;
  background: linear-gradient(to right, rgba(15, 27, 74, 0.862745098), rgba(15, 27, 74, 0.7647058824));
  padding: 7px 20px;
  color: #fff;
  border-radius: 50px;
  vertical-align: 1px;
  border: 0;
  outline: 0;
  transition: 0.4313s ease;
}
#footer .line {
  width: 100%;
  height: 3px;
  background: rgba(172, 216, 255, 0.337254902);
  border-radius: 100%;
}

#side-menu {
  transition: transform 0.313s ease;
  transform: translateX(100%);
  width: 85vw;
  height: 125vh;
  position: fixed;
  top: 0;
  right: 0;
  background: linear-gradient(225deg, #18203b, #415aa8);
  z-index: 60;
  padding: 20px;
}
#side-menu .close {
  width: 100%;
  padding: 50px 30px;
  top: 0;
  right: 0;
  left: 0;
}
#side-menu .close i {
  color: white;
  font-size: 35px;
  cursor: pointer;
}
#side-menu .links {
  width: 100%;
}
#side-menu .links a {
  width: 100%;
  padding: 15px 0;
  text-align: center;
  background-color: rgba(134, 236, 255, 0.1019607843);
  color: white;
  margin: 10px 0;
  letter-spacing: 5px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.313s ease;
  text-wrap: wrap;
}
#side-menu .links a:hover {
  transform: translateY(8px);
}
#side-menu .links a i {
  font-size: 22px;
  margin-right: 10px;
}

#loading {
  transition: 0.313s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
  background-color: #0c244b;
}
#loading img {
  opacity: 0.9;
}

.bg-move {
  animation: bgMove 2s linear 1;
}

@keyframes bgMove {
  from {
    background-position: 0;
  }
  to {
    background-position: 400%;
  }
}